<div class="container">
    <h2>API Project: Timestamp Microservice</h2>
    <h3>Time API</h3>
    <ol class="user-stories">
        <li>Time API is a practice task on <code>NodeJS</code> which is part from
            <a href="https://www.freecodecamp.org/">freecodecamp</a>
            Course
        </li>
        <li>
            <strong>How to Use it:</strong>
            <p class="details">
                <strong>TimeAPI</strong> is very simple you pass it a date or a timestamp
                and it return the unix and utc format of it.
                <br>
                <br>
                <strong>timestamp</strong>: must be integer
                <br>
                <strong>Date</strong>: must be in the following format <strong>YYYY-MM-DD</strong>
            </p>
        </li>
    </ol>

    <h3>Example Usage:</h3>
    <ul>
        <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
        <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
    </ul>

    <h3>Example Output:</h3>
    <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
</div>
<div class="footer">
    <p>
        By <a href="https://github.com/AmrMonier">Amr Monier</a>
    </p>
</div>