*{
  margin: 0;
  padding: 0;
}
body {
  font: 1.1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #bbb;
  text-align: center;
}
h2{
  margin: 10px;
}
ul{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.details{
  margin-left: 20px;
}
.container{
  width: 95%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.footer{
  margin: 20px;
}
.ol{
  list-style-position: outside;
}
.user-stories{
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
ol > li{
  margin-bottom: 10px;
}
a {
  color: rgb(13, 128, 173);
}
